@charset "UTF-8";

:root {
    --global-bg-color: #fff;
    --global-code-bg-color: rgba(181, 9, 172, 0.05);
    --global-text-color: #000;
    --global-text-color-light: #828282;
    --global-theme-color: #b509ac;
    --global-hover-color: #b509ac;
    --global-hover-text-color: #fff;
    --global-footer-bg-color: #1c1c1d;
    --global-footer-text-color: #e8e8e8;
    --global-divider-color: rgba(0, 0, 0, 0.1);
    --global-card-bg-color: #fff;
}

html[data-theme="dark"] {
    --global-bg-color: #1c1c1d;
    --global-code-bg-color: #2c3237;
    --global-text-color: #e8e8e8;
    --global-text-color-light: #e8e8e8;
    --global-theme-color: #2698ba;
    --global-hover-color: #2698ba;
    --global-hover-text-color: #fff;
    --global-footer-bg-color: #e8e8e8;
    --global-footer-text-color: #1c1c1d;
    --global-divider-color: #424246;
    --global-card-bg-color: #212529;
}

html[data-theme="dark"] .fa-moon {
    display: none;
}

html[data-theme="dark"] .fa-sun {
    display: inline-block;
}

body {
    padding-bottom: 70px;
    color: var(--global-text-color);
    background-color: var(--global-bg-color);
}

body h1, body h2, body h3, body h4, body h5, body h6 {
    scroll-margin-top: 66px;
}

.container {
    max-width: 1000px;
}

.profile {
    width: 100%;
}

.profile img {
    width: 50%;
}

@media (max-width: 768px) {
    .profile {
        float: none;
        text-align: center;
        width: 100%;
    }

    .profile img {
        width: 80%;
        max-width: 200px;
    }
}

.navbar {
    box-shadow: none;
    border-bottom: 1px solid var(--global-divider-color);
    background-color: var(--global-bg-color);
    opacity: 0.95;
}

.navbar .navbar-toggler {
    border: none;
    outline: none;
}

.navbar-toggler .icon-bar {
    width: 22px;
    height: 2px;
    background-color: var(--global-text-color);
    display: block;
    margin: 5px auto;
    transition: all 0.3s ease-in-out;
}

.navbar-toggler.collapsed .top-bar {
    transform: rotate(0);
}

.navbar-toggler.collapsed .middle-bar {
    opacity: 1;
}

.navbar-toggler.collapsed .bottom-bar {
    transform: rotate(0);
}

a {
    color: var(--global-theme-color);
    transition: color 0.3s ease-in-out, text-decoration 0.3s ease-in-out;
}

a:hover {
    color: var(--global-hover-color);
    text-decoration: underline;
}

table {
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 1rem;
}

table td, table th {
    padding: 10px;
    text-align: left;
}

blockquote {
    background: var(--global-bg-color);
    border-left: 2px solid var(--global-theme-color);
    margin: 1.5em 10px;
    padding: 0.5em 10px;
    font-size: 1.2rem;
}

footer {
    background-color: var(--global-footer-bg-color);
    color: var(--global-footer-text-color);
    padding: 20px 0;
    text-align: center;
}
